@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;

    --blue-green-gradient: linear-gradient(225deg, #72F550 0%, #00A3FF 100%);
    --blue-green-gradient-v2: linear-gradient(100.04deg, #00FF19 -7.48%, #001AFF 114.63%);

    --dark-gray: #292929;
    --light-gray: #4F4F4F;
    --light-gray-v2: #404040;
    --green: #A4E439
}