@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
}

@mixin head-menu_info($url) {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    margin: 26px 0;
    line-height: 19.5px;
    color: #fff;
    position: relative;
    padding: {
        left: 32px;
    };

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 16px;
        height: 16px;
        top: 50%;
        transform: translate(0, -50%);
        background-image: url($url);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
}

@mixin button {
    text-transform: uppercase;
    border-radius: 4px;
    padding: 16px;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    text-align: center;
    color: #fff;
    border: 0;
    outline: 0;
    transition: all .5s;
    cursor: pointer;
}

@mixin welcome-buttons {
    margin: 20px 0;
    width: 100%;
}

.button__blue-green {
    @include button();
    @include welcome-buttons();
    background: linear-gradient(225deg, #72F550 0%, #00A3FF 100%);

    &:hover {
        background: linear-gradient(100.04deg, #00FF19 -7.48%, #001AFF 114.63%);
    }
}

.button__transparent {
    @include button();
    @include welcome-buttons();
    border: 2px solid #fff;
    background: none;

    &:hover {
        background: #A4E439;
        border-color: #A4E439;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #292929;
    background-image: url(./img/bg.png);
}

#app {
    width: 100%;
}

.head-menu {
    width: 100%;
    height: 850px;
    max-width: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_logo {
        object-fit: contain;
        width: 100%;
    }

    &_nav {
        width: 100%;
        max-height: 300px;

        &_list {
            width: 100%;
            list-style-type: none;
        }

        &_link {
            font-family: var(--font-family);
            color: #fff;
            margin: 24px 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
        }
    }

    &_info {
        width: 100%;

        &_phone {
            @include head-menu_info('./img/phone_icon.png');
        }

        &_email {
            @include head-menu_info('./img/email_icon.png');
        }
    }
}

.welcome {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    height: 820px;
    margin-top: 120px;

    &_info {
        width: 100%;
        padding: 30px 0;

        &_title {
            text-transform: uppercase;
            color: #fff;
            font-size: 60px;
            font-weight: 700;
            font-family: var(--font-family);
            line-height: 73.14px;
        }

        &_subtitle {
            text-transform: uppercase;
            color: #fff;
            font-size: 30px;
            font-weight: 700;
            font-family: var(--font-family);
            line-height: 36.57px;
            margin: 48px 0;
        }

        &_buttons {
            width: 400px;
        }
    }

    &_images {
        width: 100%;
        position: relative;

        &_big-img {
            float: right;
        }

        &_smalls {
            position: absolute;
            top: 430px;
            left: -10%;
            display: flex;
            flex-direction: row;
        }

        &_small {
            margin: 0 20px;
        }
    }
}

.head-container {
    display: grid;
    grid-template-columns: 15% 80%;
    margin: 40px;
}

.benefits {
    width: 70%;
    margin: {
        top: 100px;
        left: auto;
        right: auto;
    }

    &_title {
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 48px;
        line-height: 58.51px;
        color: #fff;
    }

    &_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &_benefit {
        width: 80%;
        min-height: 240px;
        margin: 0 auto;
        border-radius: 4px;
        border: 4px solid #404040;
        position: relative;

        &:nth-child(odd) {
            margin-top: 70px;
        }

        &:nth-child(even) {
            margin-bottom: 70px;
        }

        &_text {
            color: #fff;
            font-family: var(--font-family);
            font-size: 18px;
            font-weight: 400;
            line-height: 21.94px;
            position: absolute;
            width: 300px;
            top: 32px;
            left: -40px;
        }

        &_img {
            position: absolute;
            top: 60px;
            right: 40px;
        }
    }

    &_footer {
        position: relative;
        display: flex;
        justify-content: flex-end;

        &_text {
            color: #fff;
            font-family: var(--font-family);
            font-size: 36px;
            font-weight: 300;
            line-height: 43.88px;
            margin-right: 100px;

            & b {
                font-size: 40px;
                font-weight: 700;
                line-height: 48.76px;
            }
        }

        &_img {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

.about-bitrix {
    width: 70%;
    margin: {
        top: 200px;
        left: auto;
        right: auto;
    }

    &_title {
        font-weight: 300;
        font-size: 48px;
        font-family: var(--font-family);
        line-height: 58.51px;
        color: #fff;
        margin-bottom: 40px;
    }

    &_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    &_item {
        width: 95%;

        &_title {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 24px;
            line-height: 29.26px;
            font-family: var(--font-family);
            color: #A4E439;
        }

        &_text {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            font-family: var(--font-family);
            color: #fff;
            margin: 15px 0;
        }

        &_list {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            font-family: var(--font-family);
            color: #fff;
            width: 80%;
            margin: 15px auto;
        }
    }
}

.how-we-work {
    width: 70%;
    margin: {
        top: 200px;
        right: auto;
        left: auto;
    };

    &_title {
        color: #fff;
        font-family: var(--font-family);
        font-size: 48px;
        font-weight: 300;
        line-height: 58.51px;
    }

    &_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &_item {
        width: 70%;
        position: relative;
        margin: {
            left: auto;
            top: 100px;
        };

        &_title {
            font-family: var(--font-family);
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            line-height: 19.5px;
            width: 80%;
            margin: {
                left: auto;
                bottom: 30px;
            };
        }

        &_text {
            font-family: var(--font-family);
            color: #fff;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
        }

        &_img {
            position: absolute;
            top: -30px;
            left: 0;
            z-index: -1;
        }

        &_number {
            position: absolute;
            bottom: 0;
            left: -125px;
        }
    }
}

.rates {
    width: 70%;
    margin: {
        top: 200px;
        left: auto;
        right: auto;
    }

    &_buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_button {
        font-weight: 300;
        font-size: 36px;
        line-height: 43.88px;
        font-family: var(--font-family);
        color: #c7c7c7;
        background: none;
        outline: 0;
        border: 0;
        cursor: pointer;
        transition: all .5s;

        &:hover {
            color: #fff;
        }

        &_active {
            font-size: 48px;
            line-height: 58.51px;
            color: #fff;
            position: relative;
            transition: all .5s;

            &:hover {
                &::before {
                    right: 0;
                    left: 0;
                    width: 100%;
                }
            }

            &::before {
                content: '';
                height: 3px;
                width: 0;
                background: #A4E439;
                left: 50%;
                right: 50%;
                position: absolute;
                bottom: -5px;
                transition: all .5s;
            }
        }
    }

    &_cards {
        margin: {
            left: auto;
            right: auto;
            top: 75px;
        };
        width: 95%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &_card {
        width: 80%;
        border-radius: 4px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(225deg, #72F550 0%, #00A3FF 100%);
        position: relative;
        overflow: hidden;
        transition: all .3s;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            border-radius: 4px;
            z-index: 1;
            transition: all .3s;
        }

        &:hover {
            &::before {
                top: 100%;
                height: 0%;
            }
        }

        &_title {
            font-weight: 600;
            color: #fff;
            font-size: 18px;
            line-height: 21.94px;
            font-family: var(--font-family);
            text-transform: uppercase;
            margin-top: 50px;
            z-index: 100;
        }

        &_price {
            font-weight: 600;
            font-size: 24px;
            font-family: var(--font-family);
            text-transform: uppercase;
            line-height: 29.26px;
            color: #fff;
            margin-top: 40px;
            z-index: 100;
        }

        &_desc {
            font-weight: 700;
            font-size: 12px;
            line-height: 14.63px;
            font-family: var(--font-family);
            color: #fff;
            width: 70%;
            margin: 0 auto;
            margin-top: 50px;
            text-align: center;
            z-index: 100;
        }

        &_list {
            width: 80%;
            margin: 0 auto;
            margin-top: 50px;
            z-index: 100;

            &_item {
                color: #A4E439;
                font-weight: 400;
                font-size: 12px;
                font-family: var(--font-family);
                line-height: 14.63px;
                margin-bottom: 20px;

                & span {
                    color: #fff;;
                }
            }
        }

        &_button-wrap {
            width: 100%;
            background: #000;
            padding: 25px 0;

            &_button {
                width: 70%;
                display: block;margin: 0 auto;
            }
        }
    }
}