@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --font-family: "Montserrat", sans-serif;
}

.button__blue-green {
  text-transform: uppercase;
  border-radius: 4px;
  padding: 16px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  text-align: center;
  color: #fff;
  border: 0;
  outline: 0;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px 0;
  width: 100%;
  background: linear-gradient(225deg, #72F550 0%, #00A3FF 100%);
}
.button__blue-green:hover {
  background: linear-gradient(100.04deg, #00FF19 -7.48%, #001AFF 114.63%);
}

.button__transparent {
  text-transform: uppercase;
  border-radius: 4px;
  padding: 16px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  text-align: center;
  color: #fff;
  border: 0;
  outline: 0;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px 0;
  width: 100%;
  border: 2px solid #fff;
  background: none;
}
.button__transparent:hover {
  background: #A4E439;
  border-color: #A4E439;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #292929;
  background-image: url(./img/bg.png);
}

#app {
  width: 100%;
}

.head-menu {
  width: 100%;
  height: 850px;
  max-width: 198px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.head-menu_logo {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.head-menu_nav {
  width: 100%;
  max-height: 300px;
}
.head-menu_nav_list {
  width: 100%;
  list-style-type: none;
}
.head-menu_nav_link {
  font-family: var(--font-family);
  color: #fff;
  margin: 24px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.head-menu_info {
  width: 100%;
}
.head-menu_info_phone {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  margin: 26px 0;
  line-height: 19.5px;
  color: #fff;
  position: relative;
  padding-left: 32px;
}
.head-menu_info_phone::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url("./img/phone_icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.head-menu_info_email {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  margin: 26px 0;
  line-height: 19.5px;
  color: #fff;
  position: relative;
  padding-left: 32px;
}
.head-menu_info_email::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url("./img/email_icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.welcome {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  height: 820px;
  margin-top: 120px;
}
.welcome_info {
  width: 100%;
  padding: 30px 0;
}
.welcome_info_title {
  text-transform: uppercase;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  font-family: var(--font-family);
  line-height: 73.14px;
}
.welcome_info_subtitle {
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  font-family: var(--font-family);
  line-height: 36.57px;
  margin: 48px 0;
}
.welcome_info_buttons {
  width: 400px;
}
.welcome_images {
  width: 100%;
  position: relative;
}
.welcome_images_big-img {
  float: right;
}
.welcome_images_smalls {
  position: absolute;
  top: 430px;
  left: -10%;
  display: flex;
  flex-direction: row;
}
.welcome_images_small {
  margin: 0 20px;
}

.head-container {
  display: grid;
  grid-template-columns: 15% 80%;
  margin: 40px;
}

.benefits {
  width: 70%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.benefits_title {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 48px;
  line-height: 58.51px;
  color: #fff;
}
.benefits_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.benefits_benefit {
  width: 80%;
  min-height: 240px;
  margin: 0 auto;
  border-radius: 4px;
  border: 4px solid #404040;
  position: relative;
}
.benefits_benefit:nth-child(odd) {
  margin-top: 70px;
}
.benefits_benefit:nth-child(even) {
  margin-bottom: 70px;
}
.benefits_benefit_text {
  color: #fff;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  position: absolute;
  width: 300px;
  top: 32px;
  left: -40px;
}
.benefits_benefit_img {
  position: absolute;
  top: 60px;
  right: 40px;
}
.benefits_footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.benefits_footer_text {
  color: #fff;
  font-family: var(--font-family);
  font-size: 36px;
  font-weight: 300;
  line-height: 43.88px;
  margin-right: 100px;
}
.benefits_footer_text b {
  font-size: 40px;
  font-weight: 700;
  line-height: 48.76px;
}
.benefits_footer_img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.about-bitrix {
  width: 70%;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
.about-bitrix_title {
  font-weight: 300;
  font-size: 48px;
  font-family: var(--font-family);
  line-height: 58.51px;
  color: #fff;
  margin-bottom: 40px;
}
.about-bitrix_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.about-bitrix_item {
  width: 95%;
}
.about-bitrix_item_title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
  font-family: var(--font-family);
  color: #A4E439;
}
.about-bitrix_item_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: var(--font-family);
  color: #fff;
  margin: 15px 0;
}
.about-bitrix_item_list {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: var(--font-family);
  color: #fff;
  width: 80%;
  margin: 15px auto;
}

.how-we-work {
  width: 70%;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
}
.how-we-work_title {
  color: #fff;
  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 300;
  line-height: 58.51px;
}
.how-we-work_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.how-we-work_item {
  width: 70%;
  position: relative;
  margin-left: auto;
  margin-top: 100px;
}
.how-we-work_item_title {
  font-family: var(--font-family);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  width: 80%;
  margin-left: auto;
  margin-bottom: 30px;
}
.how-we-work_item_text {
  font-family: var(--font-family);
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.how-we-work_item_img {
  position: absolute;
  top: -30px;
  left: 0;
  z-index: -1;
}
.how-we-work_item_number {
  position: absolute;
  bottom: 0;
  left: -125px;
}

.rates {
  width: 70%;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
.rates_buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rates_button {
  font-weight: 300;
  font-size: 36px;
  line-height: 43.88px;
  font-family: var(--font-family);
  color: #c7c7c7;
  background: none;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: all 0.5s;
}
.rates_button:hover {
  color: #fff;
}
.rates_button_active {
  font-size: 48px;
  line-height: 58.51px;
  color: #fff;
  position: relative;
  transition: all 0.5s;
}
.rates_button_active:hover::before {
  right: 0;
  left: 0;
  width: 100%;
}
.rates_button_active::before {
  content: "";
  height: 3px;
  width: 0;
  background: #A4E439;
  left: 50%;
  right: 50%;
  position: absolute;
  bottom: -5px;
  transition: all 0.5s;
}
.rates_cards {
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.rates_card {
  width: 80%;
  border-radius: 4px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(225deg, #72F550 0%, #00A3FF 100%);
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.rates_card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 4px;
  z-index: 1;
  transition: all 0.3s;
}
.rates_card:hover::before {
  top: 100%;
  height: 0%;
}
.rates_card_title {
  font-weight: 600;
  color: #fff;
  font-size: 18px;
  line-height: 21.94px;
  font-family: var(--font-family);
  text-transform: uppercase;
  margin-top: 50px;
  z-index: 100;
}
.rates_card_price {
  font-weight: 600;
  font-size: 24px;
  font-family: var(--font-family);
  text-transform: uppercase;
  line-height: 29.26px;
  color: #fff;
  margin-top: 40px;
  z-index: 100;
}
.rates_card_desc {
  font-weight: 700;
  font-size: 12px;
  line-height: 14.63px;
  font-family: var(--font-family);
  color: #fff;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  z-index: 100;
}
.rates_card_list {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  z-index: 100;
}
.rates_card_list_item {
  color: #A4E439;
  font-weight: 400;
  font-size: 12px;
  font-family: var(--font-family);
  line-height: 14.63px;
  margin-bottom: 20px;
}
.rates_card_list_item span {
  color: #fff;
}
.rates_card_button-wrap {
  width: 100%;
  background: #000;
  padding: 25px 0;
}
.rates_card_button-wrap_button {
  width: 70%;
  display: block;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */