@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --font-bad-script: 'Pacifico', cursive;

    --color-light-gray: #e3dac9;
    --color-light-green: #ddffcc;

    --color-white: #fff;
    --color-black: #000;

    --font-size-large: 35px;
    --font-size-medium: 25px;
    --font-size-small: 20px;
    --font-size-extra-small: 15px;

    --radius-large: 50px;
    --radius-medium: 25px;
    --radius-small: 5px;

    --spacing-large: 30px;
    --spacing-medium: 15px;
    --spacing-small: 10px;
    --spacing-extra-small: 5px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    
    background: var(--color-light-gray);

    display: flex;
    align-items: center;
    justify-content: center;
}

.app {
    height: 70vh;
    width: 60%;

    background: var(--color-white);

    border-radius: var(--radius-medium);

    padding: var(--spacing-large) var(--spacing-medium);

    &_header {
        font-size: var(--font-size-medium);
        font-family: var(--font-bad-script);
        text-align: center;
    }

    &_add-task {
        font-size: var(--font-size-small);
        font-family: var(--font-bad-script);

        border: 0;
        outline: 0;

        border-bottom: 3px solid var(--color-black);
        
        display: block;
        width: 60%;
        margin: 0 auto;

        padding: var(--spacing-small) var(--spacing-medium);
    }
}

.tasks-container {
    width: 90%;
    height: 80%;

    margin: var(--spacing-medium) auto;
    padding: var(--spacing-medium);

    overflow-y: scroll;
}

.task {
    width: 100%;

    padding: var(--spacing-medium) var(--spacing-small);
    padding-bottom: var(--spacing-large);
    margin: var(--spacing-small) 0;

    border: 3px solid var(--color-black);

    position: relative;

    &_done {
        background: var(--color-light-green);
    }

    &_name {
        font-size: var(--font-size-small);
        font-family: var(--font-bad-script);

        margin: var(--spacing-small);
    }

    &_date {
        font-size: var(--font-size-extra-small);
        font-family: var(--font-bad-script);

        margin: var(--spacing-small);
    }

    &_button {
        display: block;
        position: absolute;

        cursor: pointer;

        width: 25px;
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;

        &__edit {
            top: var(--spacing-extra-small);
            right: var(--spacing-small);
            background-image: url('../img/buttons_icons/edit_icon.png');
        }

        &__done {
            bottom: var(--spacing-extra-small);
            left: var(--spacing-small);
            background-image: url('../img/buttons_icons/done_icon.png');
        }

        &__remove {
            bottom: var(--spacing-extra-small);
            right: var(--spacing-small);
            background-image: url('../img/buttons_icons/remove_icon.png');
        }
    }
}