@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  --font-bad-script: "Pacifico", cursive;
  --color-light-gray: #e3dac9;
  --color-light-green: #ddffcc;
  --color-light-red: #ff7377;
  --color-light-blue: #cff6ff;
  --color-white: #fff;
  --color-black: #000;
  --font-size-large: 35px;
  --font-size-medium: 25px;
  --font-size-small: 20px;
  --font-size-extra-small: 15px;
  --radius-large: 50px;
  --radius-medium: 25px;
  --radius-small: 5px;
  --spacing-large: 30px;
  --spacing-medium: 15px;
  --spacing-small: 10px;
  --spacing-extra-small: 5px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--color-light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  height: 70vh;
  width: 60%;
  background: var(--color-white);
  border-radius: var(--radius-medium);
  padding: var(--spacing-large) var(--spacing-medium);
}
.app_header {
  font-size: var(--font-size-medium);
  font-family: var(--font-bad-script);
  text-align: center;
}
.app_add-task {
  position: relative;
  width: 60%;
  margin: 0 auto;
}
.app_add-task-input {
  font-size: var(--font-size-small);
  font-family: var(--font-bad-script);
  border: 0;
  outline: 0;
  border-bottom: 3px solid var(--color-black);
  display: block;
  width: 100%;
  padding: var(--spacing-small) var(--spacing-medium);
}
.app_add-task-button {
  display: block;
  position: absolute;
  top: 50%;
  right: var(--spacing-extra-small);
  transform: translate(0, -50%);
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/buttons_icons/add_icon.png");
}

.tasks-container {
  width: 90%;
  height: 80%;
  margin: var(--spacing-medium) auto;
  padding: var(--spacing-medium);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-medium);
  overflow-y: scroll;
}
.tasks-container_title {
  font-size: var(--font-size-medium);
  font-family: var(--font-bad-script);
  text-align: center;
}
.tasks-container_col {
  border-left: 3px solid var(--color-black);
  border-right: 3px solid var(--color-black);
  padding: var(--spacing-small);
}

.task {
  width: 100%;
  padding: var(--spacing-medium) var(--spacing-small);
  padding-bottom: var(--spacing-large);
  margin: var(--spacing-small) 0;
  border: 3px solid var(--color-black);
  position: relative;
}
.task__available {
  background: var(--color-light-gray);
}
.task_done {
  background: var(--color-light-green);
}
.task_current {
  background: var(--color-light-blue);
}
.task_name {
  font-size: var(--font-size-small);
  font-family: var(--font-bad-script);
  margin: var(--spacing-small);
  cursor: pointer;
}
.task_date {
  font-size: var(--font-size-extra-small);
  font-family: var(--font-bad-script);
  margin: var(--spacing-small);
}
.task_button {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}
.task_button__edit {
  top: var(--spacing-extra-small);
  right: var(--spacing-small);
  background-image: url("../img/buttons_icons/edit_icon.png");
}
.task_button__done {
  bottom: var(--spacing-extra-small);
  left: var(--spacing-small);
  background-image: url("../img/buttons_icons/done_icon.png");
}
.task_button__remove {
  bottom: var(--spacing-extra-small);
  right: var(--spacing-small);
  background-image: url("../img/buttons_icons/remove_icon.png");
}

.rename-task-container {
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.rename-task-container__active {
  display: flex;
}

.rename-task-popup {
  width: 15%;
  height: 20vh;
  background: var(--color-white);
  border-radius: var(--radius-small);
}
.rename-task-popup_title {
  font-size: var(--font-size-small);
  font-family: var(--font-bad-script);
  text-align: center;
  margin: var(--spacing-small);
}
.rename-task-popup_input {
  font-size: var(--font-size-small);
  font-family: var(--font-bad-script);
  border: 0;
  outline: 0;
  border-bottom: 3px solid var(--color-black);
  display: block;
  width: 70%;
  margin: var(--spacing-small) auto;
  padding: var(--spacing-extra-small) var(--spacing-small);
}
.rename-task-popup_button {
  width: 35%;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: var(--font-size-extra-small);
  font-family: var(--font-bad-script);
  padding: var(--spacing-extra-small) 0;
  border: 3px solid var(--color-black);
  border-radius: var(--radius-small);
  cursor: pointer;
}

.error {
  text-align: center;
  font-size: var(--font-size-medium);
  font-family: var(--font-bad-script);
  position: absolute;
  top: var(--spacing-small);
  left: 50%;
  transform: translate(-50%, 0);
  background: var(--color-light-red);
  border-radius: var(--radius-medium);
  padding: var(--spacing-medium) var(--spacing-small);
  display: none;
}
.error__active {
  display: block;
}/*# sourceMappingURL=style.css.map */