@import './mixins';
@import './roots';

.audit {
    width: 70%;
    margin: {
        left: auto;
        right: auto;
        top: 200px;
    };
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &_container {
        width: 80%;
    }

    &_title {
        color: #fff;
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 50px;
    }

    &_form {
        width: 80%;
        display: flex;
        flex-direction: column;

        &_input {
            font-weight: 400;
            font-size: 18px;
            color: #fff;
            outline: 0;
            border: 0;
            background: none;
            border: 2px solid var(--light-gray);
            border-radius: 4px;
            padding: 10px;
            margin-bottom: 25px;
            transition: all .3s;

            &:hover {
                border-color: var(--green);
            }

            &:focus {
                border-color: var(--green);
            }
        }
    }
}